---
import LinkIcon from "../assets/icons/arrow.svg";
import Image from "astro/components/Image.astro";
---

<section class="container mx-auto mt-32 mb-10" id="contact">
  <div
    class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:justify-between"
  >
    <div class="flex flex-col md:flex-row space-y-5 md:inline-block">
      <form
        class="flex flex-col md:flex-row gap-5"
        action="https://api.web3forms.com/submit"
        method="POST"
      >
        <input
          type="hidden"
          name="access_key"
          value="34e24071-0ea3-4197-8926-603bf1b7e860"
        />
        <input
          type="text"
          class="bg-tuatara-900 border-tuatara-400 border-2 rounded-lg px-2 py-4 outline-none placeholder-tuatara-100"
          placeholder="Email"
          name="email"
        />
        <input
          type="text"
          class="bg-tuatara-900 border-tuatara-400 border-2 rounded-lg px-2 py-4 outline-none placeholder-tuatara-100"
          placeholder="Message"
          name="message"
        />
        <button
          class="bg-tuatara-900 px-4 py-2 border-2 border-tuatara-400 rounded-lg hover:bg-tuatara-800"
          >Send</button
        >
      </form>
      <p class="text-lg">
        Or Email at <a
          href="mailto:ping@tejaswan.me"
          class="underline"
          target="_blank">ping@tejaswan.me</a
        >
        <span class="inline-block ml-1 -mb-1"
          ><Image src={LinkIcon} alt="arrow" /></span
        >
      </p>
    </div>
    <div class="flex flex-col space-y-2 items-center md:items-end">
      <a
        href="https://www.instagram.com/tejaswan_techtoe"
        class="text-lg"
        target="_blank"
        >Instagram
        <span class="inline-block ml-1"
          ><Image src={LinkIcon} alt="arrow" /></span
        >
      </a>
      <a href="https://www.twitter.com/techtoe_" class="text-lg" target="_blank"
        >Twitter
        <span class="inline-block ml-1"
          ><Image src={LinkIcon} alt="arrow" /></span
        >
      </a>
      <a
        href="https://www.linkedin.com/in/tejaswan-kalluri/"
        class="text-lg"
        target="_blank"
        >Linkedin
        <span class="inline-block ml-1"
          ><Image src={LinkIcon} alt="arrow" /></span
        >
      </a>
      <a
        href="https://github.com/tejaswankalluri/"
        class="text-lg"
        target="_blank"
        >GitHub
        <span class="inline-block ml-1"
          ><Image src={LinkIcon} alt="arrow" /></span
        >
      </a>
    </div>
  </div>
  <div class="flex md:block justify-center mt-10 md:mt-40">
    <p
      class="opacity-40 text-tuatara-300 text-5xl md:text-9xl font-libre font-medium tracking-[0.2em] mt-5 md:mt-1"
    >
      Contact Me
    </p>
  </div>
  <hr class="h-px my-8 bg-tuatara-800 border-0" />
  <div class="flex justify-center md:justify-end">
    <p class="text-tuatara-300">
      Last Updated:
      {
        new Date().toLocaleDateString("en-US", {
          day: "numeric",
          month: "short",
          year: "numeric",
        })
      }
    </p>
  </div>
</section>
